<p>Enter your initials to submit your score.</p>
<%= form_for Highscore.new, url: {controller: "highscores",action: "create"}, validate: true do |f| %>
    <div class="form-group initials_form">
      <%= f.text_field :initials, maxlength: 3, size: 5, class: "form-control initials" %>
      <%= f.submit "Submit!", class: "btn btn-default"%>
    </div>
<% end %>