<div class="quiz_index">
  <h1>Somewhere in Europeana...</h1>
  <h2>Can you guess the places?</h2>
  <a class="btn btn-danger" href="quiz" role="button">Start!</a>
  <%= image_tag("WhiteLogo", class: "europeana_logo") %>
</div>


