<div class="quiz_index">
<h1>Somewhere in Europeana</h1>
<h2>Can you guess what country the Europeana painting depicts?</h2>
<a class="btn btn-primary" href="quiz" role="button">START A NEW QUIZ - Let's a gooooooo!</a>
</div>


