<div class="quiz_index">
  <h1>Somewhere in Europeana</h1>
  <h2>The next 5 paintings show landscapes in Europe.</h2>
  <h2>How many can you guess?</h2>
  <a class="btn btn-danger" href="quiz" role="button">Start the Quiz!</a>
  <%= image_tag("WhiteLogo", class: "europeana_logo") %>
</div>


