<div class="quiz_results">
  <h1>Congratulations you finsihed the quiz!</h1>

  <p>You got <%= @summary[:correct_answers] %> out of 5 answers right!</p>

  <% if @summary[:correct_answers] >= 2 %>
      <p>Well done!</p>
  <% end %>
  <div class="summary_results">
    <%= render partial: 'result_items' %>
  </div>
  <div class="new_quiz_button"><a class="btn btn-primary" href="/quizzes/new" role="button">Start a new quiz!</a></div>
</div>