<div class="side_panel">  
  <div class="quiz_header">
    <h2>Congratulations!</h2>
  </div>
  <p>You got <%= @summary[:correct_answers] %> out of 5 answers right!</p>

  <% if @summary[:correct_answers] >= 2 %>
      <p>Well done!</p>
  <% end %>
  <div class="new_quiz_button"><a class="btn btn-danger" href="/quizzes/new" role="button">Start a new quiz!</a></div>

  <%= image_tag("WhiteLogo", class: "europeana_logo") %>
</div>

<div class="quiz_results">
  <div class="summary_results">
    <%= render partial: 'result_items' %>
  </div>
</div>