<div class="quiz_panel col-md-10">
  <%= render template: 'paintings/show'%>
  <div class="progress_div"><%= @quiz.paintings.count %> of 5</div>
</div>
<div class="side_panel col-md-2">
  <div class="quiz_header">
    <h2>Where is this?</h2>
  </div>
  <%= render partial: 'answers' %>
  <%= image_tag("WhiteLogo", class: "europeana_logo") %>
</div>

