body {
}

div.picture_div{
  text-align: center;
    margin: 0 auto;
    width: 70vw;
    max-height: 80vh;
}

img.painting{
  max-height: 99vh;
}

form.button_to {
    margin: 0 auto;
    float: left;
    padding: 10px;
    font-size: 1.5em;
}

div.quiz_index{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #1676AA;
  img.europeana_logo{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 45vw;
    margin-bottom: 10px;
    max-width: 10vw;
    height: auto;

  }
}

div.side_panel{
  text-align: center;
  float: right;
  width: 16vw;
  height: 100vh;
  padding-top: 22px;
  background-color: #1676AA;
  p{
    margin-top: 22px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  div.answers {
    margin: 0 auto;
    text-align: center;
    form.button_to{
      display:inline-block;
      width: 80%;
      float: none;
    }
  }
  img.europeana_logo{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3vw;
    max-width: 10vw;
    height: auto;
  }

  div.new_quiz_button{
    margin-top: 22px;
  }
}

div.quiz_panel{
  background-color: black;
  width: 84vw;
  height: 100vh;

  div.progress_div{
    position: absolute;
    top: 0;
    right: 16vw;
    font-size: 28px;
    padding: 30px 30px;
  }
}

div.quiz_results{
  background-color: black;
  width: 84vw;
  height: 100vh;
  text-align: center;
  p{
    font-size: 28px;
  }

  div.summary_results{
    text-align: center;
    div.summary_result{
      display: inline-block;
      padding: 20px;
      p{
        font-size: 18px;
      }
      img.painting_thumbnail{
        max-width: 350px;
        max-height: 350px;
        margin-bottom: 8px;
      }
      span.summary_icon {
        &.true {
          color: green;
        }
        &.false {
          color: red;
        }
      }
    }
  }
}



/** Admin stuff **/
div.admin_painting {
  clear: both;
  padding-top: 8px;
  margin: 20px 20px;
  height: 24px;
  border-top: solid 1px black;
    form{
      float: left;
    }
}