body {
}

div.answers {
    margin: 0 auto;
    text-align: center;
    width: 70vw;
}

div.picture_div{
    margin: 0 auto;
    width: 70vw;
}

img.painting{
    display: block;
    width: 100%;
    min-height: 100%;
    max-width: 800px;
    max-height: 70vh;
}

form.button_to {
    margin: 0 auto;
    float: left;
    padding: 10px;
    font-size: 1.5em;
}
#mapid { height: 180px; }