body {
}

div.main-container{
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 0px;
}

img.painting{
  margin: 0 auto;
  padding-top: .5vh;
  max-height: 99vh;
  max-width: 100%;
  display: inherit;
}

form.button_to {
    margin: 0 auto;
    float: left;
    padding: 10px;
    font-size: 1.5em;
}

div.quiz_index{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #1676AA;
  img.europeana_logo{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 45vw;
    margin-bottom: 10px;
    max-width: 10vw;
    height: auto;

  }
}

div.side_panel{
  text-align: center;
  #float: right;
  min-height: 100vh;
  padding-top: 22px;
  background-color: #1676AA;

  p{
    margin-top: 22px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  div.answers {
    margin: 0 auto;
    text-align: center;
    form.button_to{
      display:inline-block;
      width: 80%;
      float: none;
    }
  }
  img.europeana_logo{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3vw;
    max-width: 10vw;
    height: auto;
    max-height: 20vh;
  }

  div.new_quiz_button{
    margin-top: 22px;
  }
  div.initials_form{
    float: none;
    text-align: center;
    .initials{
      width: auto;
      float: none;
      display: inline-block;
      text-align: center;
    }
  }
}

div.quiz_panel{
  background-color: black;
  min-height: 100vh;

  div.progress_div{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    padding: 30px 30px;
  }
}

div.quiz_highscores{
  background-color: black;
  min-height: 100vh;
  text-align: center;
  div.scores{
    margin-top: 28px;
    color: #FFF;
    div.highscore{
      padding: 6px;
      font-size: 26px;
    }
  }
}

div.quiz_results{
  background-color: black;
  height: 100vh;
  text-align: center;
  p{
    font-size: 28px;
  }

  div.summary_results{
    text-align: center;
    div.summary_result{
      display: inline-block;
      padding: 20px;
      p{
        font-size: 18px;
      }
      img.painting_thumbnail{
        max-width: 350px;
        max-height: 350px;
        margin-bottom: 8px;
      }
      span.summary_icon {
        &.true {
          color: green;
        }
        &.false {
          color: red;
        }
      }
      a{
        color: #FFF;
      }
    }
  }
}



/** Admin stuff **/
div.paintings_admin{
  background-color: #F4F4F4;
  color: #000;
  min-height: 100vh;
  padding-bottom: 50px;
}


div.admin_painting {
  clear: both;
  padding-top: 8px;
  margin: 20px 20px;
  height: 24px;
  border-top: solid 1px black;
    form{
      float: left;
    }
}